<div class="col mb-4">
  <div class="card text-center h-100">
    <div class="card-body">
      <h5 class="card-title">Blank Inventory</h5>
      <p class="card-text">PlaceHolder</p>
      <form id="create-btn" class="col lg-2">
        <input type="text" name="inventory[reference]" placeholder="Reference">
        <input type="date" name="inventory[date]">
        <input class="btn btn-primary create-btn" type="submit" value="Create New">
      </form>
    </div>
  </div>
</div>
{{#each inventories as |inventory|}}
  {{!--{{log book}}--}}
  <div data-id="{{inventory.id}}" class="col mb-4">
    <div class="card text-center h-100">
      <div class="card-header">
        {{#if inventory.reference}}
          {{inventory.reference}}
        {{else}}
          No Reference provided.
        {{/if}}
                <button data-id="{{inventory.id}}" type="button" name="Edit" class="btn btn-warning edit-inv-btn">Edit</button>
      </div>
      <div class="card-body">
        <h5 class="card-title">
           {{#if inventory.reference}}
              {{inventory.reference}}
            {{else}}
              No Reference provided.
            {{/if}}
        </h5>
        <button data-id="{{inventory.id}}" type="button" name="show" class="btn btn-primary show-inv-btn">Inventory</button>
        <button data-id="{{inventory.id}}" type="button" name="Remove" class="btn btn-danger delete-inv-btn">Delete</button>
      </div>
      <div class="card-footer text-muted">
        {{#if inventory.date}}
          {{inventory.date}}
        {{else}}
          No Date provided.
        {{/if}}
      </div>
    </div>
  </div>
{{/each}}
