  <div class="card text-center h-100">
    <div class="card-header">
      {{#if inventory.reference}}
        {{inventory.reference}}
      {{else}}
        No Reference provided.
      {{/if}}
              <button data-id="{{inventory.id}}" type="button" name="Edit" class="btn btn-warning edit-inv-btn">Edit</button>
    </div>
    <div class="card-body">
      <h5 class="card-title">
         {{#if inventory.reference}}
            {{inventory.reference}}
          {{else}}
            No Reference provided.
          {{/if}}
      </h5>
      <button data-id="{{inventory.id}}" type="button" name="show" class="btn btn-primary show-inv-btn">Inventory</button>
      <button data-id="{{inventory.id}}" type="button" name="Remove" class="btn btn-danger delete-inv-btn">Delete</button>
    </div>
    <div class="card-footer text-muted">
      {{#if inventory.date}}
        {{inventory.date}}
      {{else}}
        No Date provided.
      {{/if}}
    </div>
  </div>
